html{
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
}

main video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:cover;
    z-index: -1;
}

.capa {
    position: absolute;
    width: 100%;
    height: 100%; /* Cambiado para que la capa cubra toda la pantalla */
    background: rgb(46, 24, 1);
    opacity: 1;
    mix-blend-mode: overlay;
}

.contform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
    padding-top: 60px;
    padding-bottom: 30px;
    font-family: Verdana;
    font-size: 0.7em;
}

.form {
    display: flex;
    border-radius: 10px;
    background: rgba(34, 33, 33, 0.486);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    padding: 0.3em 2.5em;
    margin-top: 1em;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
    height: 80vh;
}

legend {
    padding: 0.3em;
    text-align: center;
    font-weight:bold; 
    color: rgba(234, 244, 235, 0.911);
    font-size: 1.5em;
}
    
label,
input,
textarea {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 0.3em;
    width: 100%;
    font-size: 1em;
    font-family:Verdana;
}

input,
textarea,
select {
    background-color: rgba(104, 106, 106, 0.3);
    border: 1px solid transparent;
    border-bottom-color: #bbb;
    padding: 0.4em;
    margin: 0.15em 0 0.15em;
    color: white;
    outline: 0;
    font-size: 0.8em;
}

input:invalid:focus,
textarea:invalid:focus {
    border-bottom: 2px solid #ff000d;
}

input:valid:focus,
textarea:valid:focus {
    border-bottom: 2px solid rgb(5, 119, 39);
}

input:focus,
textarea:focus {
    border-bottom: 2px solid rgb(54, 53, 52);
    background-color: rgb(63, 65, 65);
}

.contacto {
    display:flex;
    margin: 1em auto 1em;
} 

.column {
    display: flex;
    flex-direction: column;
    padding-right: 6px;
}

.contacto .column {
    width: 70%;
}

.contacto label {
    width: 30%;
}

.horario {
    display:flex;
    margin: 0.7em auto 0.7em;
} 

.horario label {
    width: 35%;
}

.horario select {
    width: 30%;
}

option {
    background-color: rgba(104, 106, 106, 0.3);
    border: 1px solid transparent;
    border-bottom-color: #bbb;
}

.mensaje_error {
	color: #ef2929;
	text-align: center;
	font-size: 12px;
	font-style:normal;
    font-weight:bold;
}

.botones {
    display: flex;
    margin: 0.5em auto 0.9em;
}

.btn {
    background-color: rgb(218, 86, 46);
    cursor: pointer;
    padding: 0.5em;
    margin: 1em;
    font-size: 1.2em;
    font-weight:bold;
    border-radius: 0.7em;
}

.btn:hover {
    background: rgb(139, 55, 29);
    transition: 0.5s;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    fieldset {
        border: none;
        padding: 0;
        margin: 0;
        height: 70vh;
    }    
    .contform {
      height: 60vh;
      padding-top: 150px;
      font-size: 0.5em;
      }
  
    .form {
          height: 100%;
          padding: 0.1em 1.5em;
          margin-top: 0.1em;
      }
  
     legend {
          padding: 0.1em;
          font-size: 1.1em;
      }
  
     label,
     input,
     textarea,
     select {
        border-radius: 0.2em;
        font-size: 0.80em;
    }
  
    .contacto,
     input[type=radio] {
       border: 0px;
       width: 100%;
       height: 0.5em;
    }
  
    .contacto input {
       width: 70%;
    }
      
    .contacto label {
       width: 30%;
    }    
      
    .mensaje_error {
       font-size: 0.65em;
    }
      
    .botones {
      display: flex;
      margin: 0.2em auto 0.2em;
    }
    
    .btn {
        background-color: rgb(218, 86, 46);
        cursor: pointer;
        padding: 0.3em;
        margin: 0.3em;
        font-size: 0.8em;
        font-weight:bold;
        border-radius: 0.5em;
    }      
      
      .btn {
          font-size: 0.8em;
      }    
}   

