
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
    border-bottom: 2px solid rgb(218, 86, 46);
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--color_primario); /* Usando variable para color primario */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    z-index: 1;
    height: var(--altura_header); /* Altura controlada por variable */
}

.navbar {
    height: 100%;
    display: flex;
    width: min(var(--ancho_maximo), 100%);
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 var(--padding_left_right);
}

.menu_hamburguesa {
    display: none;
}

.menu_hamburguesa:checked + .ul_links {
 display: flex; /* Asegúrate de que esté en flex para que se centre todo */
    position: fixed; /* Cambiado de absolute a fixed para cubrir toda la pantalla */
    top: 0; /* Inicio en la parte superior de la pantalla */
    left: 0; /* Inicio en el borde izquierdo */
    width: 100%; /* Ancho completo */
    height: 100vh; /* Altura completa del viewport */
    background-color: var(--color_primario_suave); /* Color de fondo semi-transparente */
    z-index: 2; /* Asegúrate de que esté sobre otros contenidos */
    flex-direction: column; /* Elementos en columna */
    justify-content: center; /* Centrado vertical */
    align-items: center; /* Centrado horizontal */
    gap: 3rem; /* Espacio entre links */
}


.logo {
    display: flex;
    align-items: center;
    color: var(--color_blanco);
}

.logo img {
    width: 4rem; /* Tamaño controlado para ser responsive */
    height: 4rem;
}

.logo h1 {
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    font-style: italic;
}

.labe_hamburguesa {
    color: var(--color_blanco);
    cursor: pointer;
}

.ul_links {
    display: none;
    width: 100%;
    padding: 20px 0; /* Agrega un poco de padding para no pegar los links al borde */
    box-sizing: border-box;
    align-items: center; /* Centra los links verticalmente */
    text-align: center; /* Centra el texto de los links */
}

.li_links {
    padding: 10px 0; /* Espaciado vertical entre los links */
}

.link {
    color: var(--color_blanco);
    font-size: 3em; /* Tamaño grande para móviles, ajustable más adelante */
    font-weight: bold;
    font-size: 1.5rem; /* Ajusta el tamaño de la fuente para móviles */
    color: var(--color_blanco); /* Asegura que el color del texto sea blanco */
    display: block; /* Hace que los links ocupen toda la línea */
}

@media (min-width: 768px) {
    .labe_hamburguesa {
        display: none;
    }

    .ul_links {
        position: static;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .link {
        font-size: 1.2rem;
        padding: 0.2rem 0.7rem;
    }

    .link:hover {
        background-color: #5f1192;
    }
}
